In [1]:
import requests
import pandas as pd
import numpy as np
from fractions import Fraction

In [2]:
category = "che"
year="2010"
endpoint = "https://ttuth7tdt9.execute-api.eu-central-1.amazonaws.com/Test"
bucket="cidaen-nobel.s3.eu-central-1.amazonaws.com"

In [3]:
nobel = requests.get(f"{endpoint}/nobel_prize/?category={category}&year={year}")
print(nobel.json())

['851', '852', '853']

In [4]:
for laureate_id in nobel.json():
    laurate = requests.get(f"{endpoint}/laureate/?id={laureate_id }")
    print(laurate.json())

{'id': {'0': '851'}, 'fullName': {'0': 'Richard F. Heck'}, 'fileName': {'0': 'heck'}, 'gender': {'0': 'male'}, 'birth': {'0': '1931-08-15'}}
{'id': {'0': '852'}, 'fullName': {'0': 'Ei-ichi Negishi'}, 'fileName': {'0': 'negishi'}, 'gender': {'0': 'male'}, 'birth': {'0': '1935-07-14'}}
{'id': {'0': '853'}, 'fullName': {'0': 'Akira Suzuki'}, 'fileName': {'0': 'suzuki'}, 'gender': {'0': 'male'}, 'birth': {'0': '1930-09-12'}}

In [5]:
bronze = requests.get(f"{endpoint}/bronze/")
print(bronze)

<Response [200]>

In [6]:
df_bronze_laureates=pd.read_parquet(f"https://{bucket}/raw/bronze/bronze_laureates.parquet")
df_bronze_laureates.head(2)

,awardYear,category,categoryFullName,dateAwarded,prizeAmount,prizeAmountAdjusted,laureates_id,portion,id,fullName,file_name,gender,birth
0,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,1/3,851,Richard F. Heck,heck,male,1931-08-15
1,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,1/3,851,Richard F. Heck,heck,male,1931-08-15

In [7]:
silver = requests.get(f"{endpoint}/silver/")
print(silver)

<Response [200]>

In [9]:
df_silver_laureates=pd.read_parquet(f"https://{bucket}/raw/silver/silver_laureates.parquet")
df_silver_laureates.head(10)

,year,category,category_full_name,date_awarded,prize_amount,prize_amount_adjusted,laureate_id,laureate_portion,id,full_name,file_name,gender,birth,prize_real_amount
0,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,851,Richard F. Heck,heck,male,1931-08-15,3.333333e+06
1,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,851,Richard F. Heck,heck,male,1931-08-15,3.333333e+06
2,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,851,Richard F. Heck,heck,male,1931-08-15,3.333333e+06
3,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,852,0.333333,852,Ei-ichi Negishi,negishi,male,1935-07-14,3.333333e+06
4,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,852,0.333333,852,Ei-ichi Negishi,negishi,male,1935-07-14,3.333333e+06
5,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,852,0.333333,852,Ei-ichi Negishi,negishi,male,1935-07-14,3.333333e+06
6,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,853,0.333333,853,Akira Suzuki,suzuki,male,1930-09-12,3.333333e+06
7,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,853,0.333333,853,Akira Suzuki,suzuki,male,1930-09-12,3.333333e+06
8,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,853,0.333333,853,Akira Suzuki,suzuki,male,1930-09-12,3.333333e+06
9,2019,Chemistry,The Nobel Prize in Chemistry,2019-10-09,9000000,9000000,976,0.333333,976,John B. Goodenough,goodenough,male,1922-07-25,3.000000e+06

In [26]:
import datetime
from dateutil.relativedelta import relativedelta

year = (datetime.datetime.now()-relativedelta(years=1)).strftime("%Y")
categories = ["che", "eco", "lit", "pea", "phy", "med"]
for category in categories:
    nobel = requests.get(f"{endpoint}/nobel_prize/?category={category}&year={year}")
    print(f"> {year} {category} {nobel.json()}")
    for laureate_id in nobel.json():
        laurate = requests.get(f"{endpoint}/laureate/?id={laureate_id }")
        print(laurate.json())
        
requests.get(f"{endpoint}/bronze/")
requests.get(f"{endpoint}/silver/")

>2021 che ['1002', '1003']
{'id': {'0': '1002'}, 'fullName': {'0': 'Benjamin List'}, 'fileName': {'0': 'list'}, 'gender': {'0': 'male'}, 'birth': {'0': '1968-01-11'}}
{'id': {'0': '1003'}, 'fullName': {'0': 'David W.C. MacMillan'}, 'fileName': {'0': 'macmillan'}, 'gender': {'0': 'male'}, 'birth': {'0': '1968-03-16'}}
>2021 eco ['1007', '1008', '1009']
{'id': {'0': '1007'}, 'fullName': {'0': 'David Card'}, 'fileName': {'0': 'card'}, 'gender': {'0': 'male'}, 'birth': {'0': '1956-00-00'}}
{'id': {'0': '1008'}, 'fullName': {'0': 'Joshua D. Angrist'}, 'fileName': {'0': 'angrist'}, 'gender': {'0': 'male'}, 'birth': {'0': '1960-09-18'}}
{'id': {'0': '1009'}, 'fullName': {'0': 'Guido W. Imbens'}, 'fileName': {'0': 'imbens'}, 'gender': {'0': 'male'}, 'birth': {'0': '1963-09-03'}}
>2021 lit ['1004']
{'id': {'0': '1004'}, 'fullName': {'0': 'Abdulrazak Gurnah'}, 'fileName': {'0': 'gurnah'}, 'gender': {'0': 'male'}, 'birth': {'0': '1948-00-00'}}
>2021 pea ['1005', '1006']
{'id': {'0': '1005'}, 'fullName': {'0': 'Maria Ressa'}, 'fileName': {'0': 'ressa'}, 'gender': {'0': 'female'}, 'birth': {'0': '1963-10-02'}}
{'id': {'0': '1006'}, 'fullName': {'0': 'Dmitry Andreyevich Muratov'}, 'fileName': {'0': 'muratov'}, 'gender': {'0': 'male'}, 'birth': {'0': '1961-00-00'}}
>2021 phy ['999', '1000', '1001']
{'id': {'0': '999'}, 'fullName': {'0': 'Syukuro Manabe'}, 'fileName': {'0': 'manabe'}, 'gender': {'0': 'male'}, 'birth': {'0': '1931-09-21'}}
{'id': {'0': '1000'}, 'fullName': {'0': 'Klaus Hasselmann'}, 'fileName': {'0': 'hasselmann'}, 'gender': {'0': 'male'}, 'birth': {'0': '1931-10-25'}}
{'id': {'0': '1001'}, 'fullName': {'0': 'Giorgio Parisi'}, 'fileName': {'0': 'parisi'}, 'gender': {'0': 'male'}, 'birth': {'0': '1948-08-04'}}
>2021 med ['997', '998']
{'id': {'0': '997'}, 'fullName': {'0': 'David Julius'}, 'fileName': {'0': 'julius'}, 'gender': {'0': 'male'}, 'birth': {'0': '1955-11-04'}}
{'id': {'0': '998'}, 'fullName': {'0': 'Ardem Patapoutian'}, 'fileName': {'0': 'patapoutian'}, 'gender': {'0': 'male'}, 'birth': {'0': '1967-00-00'}}

In [27]:
df_silver_laureates=pd.read_parquet(f"https://{bucket}/raw/silver/silver_laureates.parquet")
df_silver_laureates.head()

,year,category,category_full_name,date_awarded,prize_amount,prize_amount_adjusted,laureate_id,laureate_portion,id,full_name,file_name,gender,birth,prize_real_amount
0,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,1000,Klaus Hasselmann,hasselmann,male,1931-10-25,3.333333e+06
1,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,1000,Klaus Hasselmann,hasselmann,male,1931-10-25,3.333333e+06
2,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,1000,Klaus Hasselmann,hasselmann,male,1931-10-25,3.333333e+06
3,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,852,0.333333,1001,Giorgio Parisi,parisi,male,1948-08-04,3.333333e+06
4,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,852,0.333333,1001,Giorgio Parisi,parisi,male,1948-08-04,3.333333e+06