In [20]:
import requests
import pandas as pd
import numpy as np
from fractions import Fraction

In [21]:
category = "che"
year="2010"
endpoint = "https://ttuth7tdt9.execute-api.eu-central-1.amazonaws.com/Test"
bucket="cidaen-nobel.s3.eu-central-1.amazonaws.com"

In [22]:
nobel = requests.get(f"{endpoint}/nobel_prize/?category={category}&year={year}")
print(nobel.json())

['851', '852', '853']

In [23]:
for laureate_id in nobel.json():
    laurate = requests.get(f"{endpoint}/laureate/?id={laureate_id }")
    print(laurate.json())

{'id': {'0': '851'}, 'fullName': {'0': 'Richard F. Heck'}, 'fileName': {'0': 'heck'}, 'gender': {'0': 'male'}, 'birth': {'0': '1931-08-15'}}
{'id': {'0': '852'}, 'fullName': {'0': 'Ei-ichi Negishi'}, 'fileName': {'0': 'negishi'}, 'gender': {'0': 'male'}, 'birth': {'0': '1935-07-14'}}
{'id': {'0': '853'}, 'fullName': {'0': 'Akira Suzuki'}, 'fileName': {'0': 'suzuki'}, 'gender': {'0': 'male'}, 'birth': {'0': '1930-09-12'}}

In [29]:
bronze = requests.get(f"{endpoint}/bronze/")
print(bronze)

<Response [200]>

In [30]:
df_bronze_laureates=pd.read_parquet(f"https://{bucket}/raw/bronze/bronze_laureates.parquet")
df_bronze_laureates.head(2)

,awardYear,category,categoryFullName,dateAwarded,prizeAmount,prizeAmountAdjusted,laureates_id,portion,id,fullName,file_name,gender,birth
0,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,1/3,851,Richard F. Heck,heck,male,1931-08-15
1,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,1/3,851,Richard F. Heck,heck,male,1931-08-15

In [35]:
silver = requests.get(f"{endpoint}/silver/")
print(silver)

<Response [200]>

In [36]:
df_silver_laureates=pd.read_parquet(f"https://{bucket}/raw/silver/silver_laureates.parquet")
df_silver_laureates.head(2)

,year,category,category_full_name,date_awarded,prize_amount,prize_amount_adjusted,laureate_id,laureate_portion,id,full_name,file_name,gender,birth,prize_real_amount
0,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,851,Richard F. Heck,heck,male,1931-08-15,3.333333e+06
1,2010,Chemistry,The Nobel Prize in Chemistry,2010-10-06,10000000,11015580,851,0.333333,851,Richard F. Heck,heck,male,1931-08-15,3.333333e+06